body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f8f9fa;
}

/* Hero Section */

.hero{
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?w=1600")
    center/cover no-repeat;

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;
}

.hero h1{
    font-size:3.2rem;
}

.hero p{
    font-size:1.3rem;
}

/* Cards */

.card{
    transition:.3s;
    border:none;
    margin-bottom:20px;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.card img{
    height:230px;
    object-fit:cover;
}

/* Hotels */

.hotel-box{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    transition:.3s;
}

.hotel-box:hover{
    transform:scale(1.05);
}

/* Section Headings */

h2{
    color:#0d6efd;
    font-weight:bold;
}

/* Map */

iframe{
    border-radius:10px;
}

/* Footer */

footer{
    margin-top:30px;
}

/* Responsive */

@media(max-width:768px){

.hero h1{
    font-size:2.2rem;
}

.hero{
    height:70vh;
}

}